@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*font-family: 'Lexend', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

#content {
    margin-top: 10vh;
    width: 75vw;
    height: 80vh;
    background-color: white;
    border-radius: 35px;
    text-align: center;
    border: 2px solid #fff;
}

#profile_photo {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    object-fit: cover; /* PARA QUE NO SE DEFORME LA IMAGEN*/
    margin-right: 4vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra negra difuminada */
}

#profile_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Espacio entre la sección del perfil y el resto del contenido */
    margin-top: 2vh;
    margin-bottom: 0;
}

#principal_title{
    margin-bottom: 2vh;
    margin-top: 1.2vh;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
}

#principal_subtitle { /* ESTIUDIOS ACTUAL */
    margin-top: 0;
    font-size: 2vw;
    margin-bottom: 0;
}

#principal {
    text-align: left;
}

#locate {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro de #locate */
    justify-content: center;
}

#locate_icon {
    width: 24px; /* Ajusta el tamaño del icono según tus preferencias */
    height: 24px;
    vertical-align: middle; /* Alinea verticalmente el icono con respecto al texto */
    margin-right: 0;
}

#locate_title {
    margin-left: 2px; /* Ajusta el espacio entre el icono y el texto según tus preferencias */
    margin-bottom: 2vh;
}

#barra {
    width: 20%; /* Ajusta el ancho de la barra según tus preferencias */
    height: 3px; /* Ajusta la altura de la barra según tus preferencias */
    background-color: #65606460; /* Ajusta el color de fondo de la barra según tus preferencias */
    margin: 0 auto; /* Centra el div horizontalmente */
    border-radius: 20%;
}

#about_title{
    margin-bottom: 0;
}

.texto {
    width: 90%;
    margin: 2vh auto;
}


/* Media query para dispositivos móviles */

@media (max-width: 600px) {
    #profile_photo {
        width: 150px;
        height: 150px;
        margin-left: 1.5vw;
    }
    #principal_title{
        font-size: 4.5vw;
    }
    
    #principal_subtitle{
        font-size: 3.5vw;
    }

    #content{
        width: 90vw;
    }

    #barra {
        width: 50%; /* Ajusta el ancho de la barra según tus preferencias */
    }
}
